.textareaWrapper {
  width: 400px;
  margin: 0 auto;

  .textareaContent {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }

  textarea {
    font-family: "Inter", sans-serif;
    border: none;
    width: 95%;
    outline: none;
  }
}